@import "bootstrap";

.navbar .container {
  width: 960px;
}

#resumes .section_header.left hr.right {
  width: 75%;
}

#resumes hr{
  border-top: 1px solid #BEC0C3;
  border-bottom: 2px solid white;
}
