#resumes
  .container
    %h1.section_header.left 
      %span Резюме
      %hr.right.visible-desktop
    - if @resumes.any? 
      %table.table
        %tr
          %th{ width: "75%"} Название
          %th Действия
        - @resumes.each do |resume|
          %tr
            %td=resume.title
            %td
              = link_to resume do
                %i.icon-list-alt
              = link_to resume, method: :delete, data: { confirm: 'Are you sure?' } do
                %i.icon-trash
    - else
      = content_tag :span, "Нет ни одного резюме, добавьте первое!"
      %br/
    %br/
    = link_to 'Новое резюме', new_resume_path, class: "btn btn-success"
