.container
  %h2.section_header
    %hr.left.visible-desktop
    = content_tag :span, "Новое резюме"
    %hr.right.visible-desktop
  = render 'form'

-#<h1>New resume</h1>
-#
-#
-#<%= link_to 'Back', resumes_path %>
