@import "bootstrap";
@import "theme";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
.navbar .container {
  width: 960px;
}

#resumes .section_header.left hr.right {
  width: 75%;
}

#resumes hr, .footer hr {
  border-top: 1px solid #BEC0C3;
  border-bottom: 2px solid white;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
}
